/*cleaned up CSS */

body {
    margin-top: 0; 
    padding-top: 0; 
    color: #5c5656;
    font-family: "Helvetica Neue", Helvetica, arial, sans-serif;
    line-height: 22px; 
    font-size: 82%;
}

a:link, a:visited, a:active { outline: none; color: #cc6600; }
a:hover { outline: none; color: #ebc804; }
h1 a:link,  h1 a:visited, h1 a:active { text-decoration: none;}

strong { font-weight: bold;}

#containerWrapper { background: url(../images/v2/v2_cork_bg.jpg) left -240px repeat-x; }

#header h1 { float: left; width: 255px; height: 123px; padding-top: 50px;}
#header h1 a { width: 255px; height: 123px; text-indent: -9999em; display: block; background: url(../images/logo.png) top left no-repeat; }

#ltColumn { width: 605px; float: left; margin-right: 25px; padding-right: 25px;}
#rtColumn { width: 285px; float: left; }

#header { height: 175px; margin-bottom: 40px;}
header { display: block;}

#topnav { margin: -10px 0 0 -3px; width: 685px; float: left;}
#topnav li { float: left;}
#topnav li a { display: block; text-indent: -9999em; height: 48px;}
#about a { background: url(../images/topnav/topnav_rtb_2.png) top left no-repeat; width: 78px;}
#endorsements a { background: url(../images/topnav/topnav_rtb_3.png) top left no-repeat; width: 141px;}
#rushed a { background: url(../images/topnav/topnav_rtb_4.png) top left no-repeat; width: 136px;}
#studies a { background: url(../images/topnav/topnav_rtb_5.png) top left no-repeat; width: 129px;}
#press a { background: url(../images/topnav/topnav_rtb_6.png) top left no-repeat; width: 77px;}
#contact a { background: url(../images/topnav/topnav_rtb_7.png) top left no-repeat; width: 123px;}

#button { position: relative; left: -60px; top: 10px;}

.tip { font-family: Georgia, "Times New Roman", Times, serif; font-size: 90%; font-style: oblique;}
.module { margin-bottom: 50px;}

time { display: block; float: left; width: 40px; text-align: center; padding-right: 15px; margin-right: 15px; border-right: 1px dotted #dae6d1;}
.month, .day { display: block;}
.day { font-size: 300%; font-family: Georgia, "Times New Roman", Times, serif; line-height: 30px; color: #8f8080;}
.month { color: #a79e9e;}

.moreLink { font-family: Georgia, "Times New Roman", Times, serif; font-style: oblique; font-size: 110%;}

#featureArea { background: url(../images/bg_feature.jpg) top left no-repeat; height: 281px; margin-bottom: 50px;}

.hentry { margin-bottom: 45px; display: block;}
.hentry header { padding-bottom: 10px; margin-bottom: 20px; border-bottom: 1px dotted #ccd8c4;}

#signupBox { background: #fcf7dd; border: 1px solid #f7e99b; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; padding: 15px;}
#signupBox label, .sideForm label { display: block;}
#signupBox input, .sideForm input, .sideForm textarea { -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; width: 170px;}
.sideForm input, .sideForm textarea { width: 265px;}
#signupBox h3 { font-size: 120%; font-style: oblique;}
#signupBox li { list-style-type: none;}
#featureLeft { background: url(../images/featureBox_text.png) 130px 30px no-repeat; text-indent: -9999em; display: block; width: 875px; height: 250px;}

#ltColumn li, #rtColumn li { margin-bottom: 15px;}

#sendMessage { margin-left: 110px;}

/*intro copy bit */
.intro_head { border-bottom: 1px solid #dae6d1; padding-bottom:5px; }

/* CONTACT FORM */	
#contact_form_sent { text-align:center;}
#contactus label { width: 110px; float: left; text-align: left; display: block; }
#contactus .submit input { margin-left:1em; } 
#contactus textarea { width:320px; height:100px;}
#contactus input, #contactus textarea { width: 300px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;}
#contact_form p { font-size:12px; line-height:18px; font-family:Helvetica Neue, Arial, Helvetica, sans-serif;  }
#contactus li { list-style-type:none; font-size:12px; line-height:18px; font-family:Helvetica Neue, Arial, Helvetica, sans-serif;  padding-bottom:1em; clear: both; }


ul.blog_roll_new { margin:0; padding:0; }
ul.blog_roll_new li {margin:0; border-bottom:1px solid #f4f4f4; padding:10px 0 10px 0;}

.blog_roll_new h3 {  font-weight:bold; font-size:14px; color:#4c4f54; padding:0; margin:0;}

.blog_roll_new h3 a:link { color:#2d73bf;}
.blog_roll_new h3 a:visited { color:#666666;}
.blog_roll_new h3 a:hover { color:#bf5004;}
.blog_roll_new h3 a:active { color:#2d73bf;}


.read_all { text-align:right; display:block;}


		form.signupform input.button:hover { background-color:#fbf5b0; border:1px solid #e7d77f;}

	    .footer {margin-top:40px;}
	    .bottom {background-image:url(http://media.sunlightprojects.org/readthebill/images/footer_bg.png); background-repeat:repeat-x; height:150px; margin-top:100px;}

/* Endorse carousel */
#endorse_carousel { margin:30px 0 70px 50px; height:201px; width:324px; background-image:url(http://media.sunlightprojects.org/readthebill/images/v2/carousel_bg.png); background-repeat:no-repeat;}
#endorse_logo { margin-left:35px; padding-top:62px;}	
#endorse_carousel_front { margin:0 0 50px 60px; height:201px; width:324px; background-image:url(http://media.sunlightprojects.org/readthebill/images/v2/carousel_bg.png); background-repeat:no-repeat;}
#endorse_nav {margin-left:18px; margin-top:4px; margin-right:5px;}

.link_block { display:block; height:300px;  padding:0; margin:0;}
	#link_block_box {  height:300px; margin:0; padding:0; width:420px; float:left;}
	#link_block_box a:link { text-decoration:none; }
	#link_block_box a:visited { text-decoration:none; }
	#link_block_box a:hover { text-decoration:none; }
	#link_block_box a:active { text-decoration:none; }

.blue { background-color:#5875b6;}
#rushed { list-style-type:none; font-size:14px; margin:0; padding:0;}
#rushed li { margin-bottom:10px; border-bottom:1px solid #eeeeee; padding:0 0 10px 0;}

/* SF footer box */
		#sf_footer_box { padding:10px; margin-top:.5em; margin-bottom:.5em; float:left; width:910px; margin-left:10px; }
		#sf_footer_box ul { padding:0 0 1.25em 0; margin:0; }
		#sf_footer_box li { padding:0; margin:0;}
		.sf_footer_head { width:20%; float:left; }
		#sf_footer_address { margin:0; }

/* misc crap leftover */
#affiliation {margin-bottom:2em;}
#bubble { float:left; margin-bottom:10px; display:none;}

/* FLAT PAGE */
#endorsed { margin-left: 0;}
#endorsed li { margin-bottom: 20px; list-style-type:none; float: left; width: 250px; margin-left: 30px; }
.endorse_indiv { display:block; margin:0; padding:0; font-size:130%; color:#000000;}

.flatpages h3 { color:#817d7a; border-bottom:1px solid #b0b0b0;}
.flatpages h4 { font-size:110%;}

p.pages {font-size:200%; font-weight:bold; padding:0 0 20px 0; margin:0;}
.pages_small { font-size:14px; font-weight:normal;}

.casestudies h5 {background-image:url(http://media.sunlightprojects.org/readthebill/images/case_studies.png); height:33px; width:404px;}

/******** TWITTER *********/
#summize_box { margin:0 20px 0 50px;}
#summize ul { margin:0; padding:0;}
#summize li { margin:0 0 10px 0; padding:0; border-bottom:1px solid #f4f4f4;}

#twit_item { margin:0 0 0 0; clear:both; min-height:65px; padding:5px 0 0 0;}
#twit_icon { float:left; padding:0 0 5px 0;}
#twit_message { margin:0 0 0 55px; padding:0 0 0 0; }

form .checkbox { width: 15px; margin-right: 10px; }

#callScript { background-color: #f6f6f3; border: 1px solid #dad9d2; padding: 40px 30px 50px; }
#actionFeature { background: url(../images/bg_feature.jpg) bottom left no-repeat; padding: 0 20px 30px; margin-bottom: 40px;}
#actionFeatureText { font-size: 110%; width: 585px; float: left; }