Django
django-gatekeeper==0.3.0
python-sunlightapi
feedparser

slimmer
django-mediasync=2.0.0

-e git://github.com/sunlightlabs/django-uspolitics.git#egg=uspolitics
-e git://github.com/sunlightlabs/django-feedinator.git#egg=feedinator
-e git://github.com/sunlightlabs/django-simplesurvey.git#egg=simplesurvey

# blogdor
markdown
django-tagging
-e git://github.com/jamesturk/django-markupfield.git#egg=markupfield
-e git://github.com/sunlightlabs/django-blogdor.git#egg=blogdor