    <p>I am also calling to find out if the senator will oppose the likely Roberts amendment to H. Res.
554.
    This amendment is designed to protect senators from legitimate ethics complaints.  It's unconstitutional because it forces
    religious and nonprofit organizations to disclose their donors when they file ethics complaints against sitting senators.</p>

    <p>Can you tell me if {{legislator.he_or_she}} plans to oppose it? </p>

    <select name="oppose_amendment" id="oppose_amendment">
      <option value="n/a">-- Report the Response --</option>
      <option value="yes">Yes</option>
      <option value="unknown">I Don't Know / Senator hasn't decided yet</option>
      <option value="no">No</option>
    </select>

    <div class="script_item oppose_amendment_answer" id="oppose_amendment_yes">
    <h5 class="green">If "Yes" on opposing Roberts amendment</h5>
    <p>Please thank Senator {{legislator.legislator.lastname}} for {{legislator.his_or_her}} support for a more transparent Congress.</p>
    {% include "callingtool/end_call.html" %}
    </div>

    <div class="script_item oppose_amendment_answer" id="oppose_amendment_unknown">
    <h5 class="orange">If "I Don't Know" or "Senator Hasn't Decided Yet" on opposing Roberts amendment </h5>
    <p>Please let Senator {{legislator.legislator.lastname}} know that the Roberts Amendment will <em>prevent</em> groups from filing legitimate
    ethics complaints so they can protect the identity of their donors.
    {% include "callingtool/end_call.html" %}
    </div>

    <div class="script_item oppose_amendment_answer" id="oppose_amendment_no">
    <h5 class="red">If "No" on opposing Roberts amendment </h5>
    <p>Please let Senator {{legislator.legislator.lastname}} know that I hope {{legislator.he_or_she}} reconsiders. Voting in favor of the Roberts amendment will hurt S. 482's chances of passing and becoming law.
    S. 482 is commonsense, uncontroversial legislation that will pass as long as the Roberts Amendment fails.</p>
    {% include "callingtool/end_call.html" %}
    </div>

