{% extends "base_call.html" %}

{% block content %}

<script type="text/javascript">
/* on ready */

$(function() {
    $("table").tablesorter();
} );

function checkZip(elmnt,content) {
    if (content.length==5) { 
	document.getElementById('chosen_reps').style.display='block';
	$('#your_reps').load('/call/zip_rep/' + content + '/', null, function() { $('#your_reps').fadeIn(); });
    }
} 
</script>


{% if has_called %}
<div id="thanks_box"><h1 class="header thanks">Thank you for taking the time to call your representative.</h1></div>
{% else %}
<!--<div id="header_box">
<h1 class="header">The Senate is considering a bill S. 482 that would increase the disclosure of campaign contributions to Senate campaigns.</h1>
</div>-->
{% endif %}


<div id="candidates_box">
<div id="candidates_explanation">Reps. Baird and Culberson recently introduced a resolution (H. Res. 554) to require the U.S. House of Representatives to post online all non-emergency legislation 72 hours before debate begins.</div>
</div>


<div id="considering2" style="font-size:18px; line-height:23px; height:100px;"><img src="http://media.sunlightprojects.org/readthebill/images/v2/72_button_a.png" border="0" style="float:left; margin-right:5px;">
	<span class="display:block; width:200px;">This resolution will create more transparency of the legislative process by 
giving lawmakers the time to debate bills with full knowledge and consideration of their implications, while giving citizens time to read 
legislation and voice their concerns to their congressional delegation.
</span>
</div>

<h2 class="fortunately" style="clear:both;">Legislative transparency is only a phone call away. Call now.</h2>
<div id="steps">
	<ul>
    <li>Determine your representative.</li>
    <li>Call his or her office.</li>
    <li>Ask if he or she will co-sponsor the 72 Hour Rule (H. Res. 554).</li>

    </ul>
</div>	




  <div id="your_reps">
    {{ repblock }}
  </div>

</div> <!-- ends senator box -->
</div>







{% endblock content %}
