{% extends "base.html" %}
{% load markup %}
{% load morsel_tags %}
{% load rtb %}
{% load media %}


{% block feature %}
    <h2>Ask Speaker Boehner to Honor his Pledge</h2>
    <div id="actionFeature">
        <div id="actionFeatureText">
            
            <img style="float: right; margin-top: 60px;" alt="Speaker John Boehner" src= "{% media_url "/images/bg_boehner.png" %}" />
            
            <p>Earlier this year, House Republicans changed the House Rules to implement a “Read the Bill rule” requiring bills to be publicly available three calendar days prior to consideration. We were happy to see the new House Rules incorporate language that strengthens the public's ability to view legislation online before consideration.</p>

            <p>But, the new rules aren’t without loopholes. Because of the “calendar day” definition, a bill came to the floor without 72 hours online for the public to see it.</p>

            <p>The House voted yesterday on a bill that forbids federal funding for National Public Radio. This violated previous pledges made by Speaker Boehner and other House leaders to have bills online and available to the public for 72 hours. While the bill technically follows the House rules as passed in January, the debate and vote happened well before the 72 hour benchmark.</p>
    
            <p><strong>Call Speaker Boehner and ask him to honor his word and follow the 72 hour rule in the future and report the response.</strong></p>
            
        </div>
        <div class="clear"></div>
    </div>
{% endblock %}
    
{% block content %}
    <div id="callScript">
        <h3>Suggested Script:</h3>

        <p>Hi, my name is [your name] and I’m calling as part of the Sunlight Foundation’s Read the Bill campaign to ask Speaker Boehner to keep his promise to make sure legislation is publicly available to the public 72 hours before consideration.</p>

        <p>The bill voted on yesterday regarding the funding for National Public Radio wasn’t online or available to the public for 72 hours before the debate or the vote.</p>
        
        <p>I’m disappointed that Speaker Boehner broke his pledge to make sure that the public had 72 hours to Read the Bill.</p>

        <p>Will Speaker Boehner honor his pledge to make bills online and available to the public for 72 hours for all future bills?</p>

        <p>[record response]</p>

        <p>Thank you for your time.</p>
    </div>
{% endblock %}

{% block sidebar %}
    <h3>Tell Us About Your Conversation</h3>
    <form name="signup" action="/page/signup/Ask_Speaker_Boehner_to_Read_the_Bill" method="post" id="signup" class="sideForm">
        <ul>
            <li>
                <label class="field">Email&nbsp;<span class="required">*</span></label>
                <input type="text" class="text" id="email" name="email" />
            </li>
            <li>
                <label class="field">First Name</label>
                <input id="firstname" name="firstname" type="text" />
            </li>
            <li>
                <label class="field">Last Name</label>
                <input id="lastname" name="lastname" type="text" />
            </li>
            <li>
                <label class="field">Zip/Postal Code&nbsp;<span class="required">*</span></label>
                <input id="zip" name="zip" type="text" />
            </li>
            <li>
                <label class="field">Did the Speaker's office agree to honor the 72 hour rule in the future?</label>
                <label for="custom-680_0"><input class="checkbox" id="custom-680_0" class="custom-680" name="__custom-680[0]" type="checkbox" value="1" onclick="if (this.checked) { this.form['custom-680[0]'].value='yes'; }else { this.form['custom-680[0]'].value=''; } " />yes</label>
                <label for="custom-680_1"><input class="checkbox" id="custom-680_1" class="custom-680" name="__custom-680[1]" type="checkbox" value="1" onclick="if (this.checked) { this.form['custom-680[1]'].value='no'; }else { this.form['custom-680[1]'].value=''; } " />no</label>
            </li>
            <li>
                <label class="field">Is there anything else you'd like to tell us about the conversation?</label>
                <textarea rows="5" id="custom-682" name="custom-682"></textarea>
            </li>
            <li>
                <label class="field">Cell phone number</label>
                <input size="10" id="custom-683" name="custom-683" type="text" />
            </li>
            <li>
                <label class="field"><input id="custom-684" class="checkbox" name="custom-684" type="checkbox" value="1" />Yes! Sign me up for real time mobile updates from Sunlight.</label>
                <span class="tip">Your carrier's standard message and data rates may apply.</span>
            </li>
            <li>
                <label class="field"></label>
                <input name="submit-btn" value="Submit Form" type="submit" />
            </li>
        </ul>
    </table>
    <span class="required tip">* denotes required field</span>

            <script type='text/javascript'>

    spud_populate({
        email: 'email',
            firstname: 'firstname',
            lastname: 'lastname',
            addr1: 'addr1',
            addr2: 'addr2',
            city: 'city',
            state_cd: 'state_cd',
            zip: 'zip',
            country: 'country',
            phone: 'phone'
    });


    var submitted_state_cd = null;

    </script>
{% endblock %}