/*cleaned up CSS */

body {background-image:url(http://media.sunlightprojects.org/readthebill/images/v2/v2_cork_bg.jpg); background-repeat:repeat-x; margin-top:0; padding-top:0; background-position:0 -40px;}

body p { font-size:110%;}	
.intro { font-size:100%; padding:0 0 15px 0;}

/*intro copy bit */
h2.intro_head { color:#817d7a; border-bottom:1px solid #b0b0b0; padding-bottom:5px; background-image:url(http://media.sunlightprojects.org/readthebill/images/nav_rushed.png); background-repeat:no-repeat; padding-left:37px; padding-top:7px;}

/* CONTACT FORM */	
#contact_form { padding:0 40px 0 0; }
#contact_form_sent { text-align:center;}

#contact_form label { width: 10em;	float: left;	text-align: left; display: block; 	}
#contact_form .submit input { margin-left:1em;	} 
#contact_form textarea { width:320px; height:100px;}
#contact_form input { width:200px;}
#contact_form p { font-size:12px; line-height:18px; font-family:Helvetica Neue, Arial, Helvetica, sans-serif; color:#1a1a1a; }
#contact_form li { list-style-type:none; font-size:12px; line-height:18px; font-family:Helvetica Neue, Arial, Helvetica, sans-serif; color:#1a1a1a; padding-bottom:1em; clear: both; }

/* blogroll  NEEDS REVISING*/
h2.blog_head { color:#817d7a; border-bottom:1px solid #b0b0b0; padding-bottom:5px; background-image:url(http://media.sunlightprojects.org/readthebill/images/roll_bubble_g.png); background-repeat:no-repeat; padding-left:45px; padding-top:5px;}

.blogroll_explanation {color:#4c4f54;}

ul.blog_roll_new { margin:0; padding:0; }
ul.blog_roll_new li {margin:0; border-bottom:1px solid #f4f4f4; padding:10px 0 10px 0;}

.blog_roll_new h3 {  font-weight:bold; font-size:14px; color:#4c4f54; padding:0; margin:0;}

.blog_roll_new h3 a:link { color:#2d73bf;}
.blog_roll_new h3 a:visited { color:#666666;}
.blog_roll_new h3 a:hover { color:#bf5004;}
.blog_roll_new h3 a:active { color:#2d73bf;}

.blogroll_meta { font-weight:normal; font-size:10px; color:#a5a5a5; }
.blogroll_meta a:link { text-decoration:none; padding:0; margin:0; color:#666666;}
.blogroll_meta a:visited { text-decoration:none; padding:0; margin:0; color:#666666;}
.blogroll_meta a:hover { text-decoration:none; padding:0; margin:0; color:#666666;}
.blogroll_meta a:active { text-decoration:none; padding:0; margin:0; color:#666666;}

/*share box */

#share { margin:0 20px 0 50px;}



/* petition form front page */
	#instructions { padding-top:100px; width:250px; margin-left:40px; color:#9ca991;}

	#contact_box_new {background-image:url(http://media.sunlightprojects.org/readthebill/images/form_bg_tall.png); background-repeat:no-repeat; width:380px; margin:30px 0 20px 20px;}

	#contact_box_bottom_new {background-image:url(http://media.sunlightprojects.org/readthebill/images/bottom_form_new.png); background-repeat:no-repeat; background-position:bottom; width:380px; height:300px;}

/* The form styling */
	form.signupform fieldset { margin-left:20px;	border:0px solid ;	}
	form.signupform legend { padding: 0 2px 10px 10px;  font-weight: bold; color:#336600; }
	form.signupform label { display: inline-block;  line-height: 1.8;  vertical-align: top; text-align:right; color:#548330; }
	form.signupform fieldset ol { margin: 0;  padding: 0; }
	form.signupform fieldset li { list-style: none;  padding: 5px;  margin: 0; }
	form.signupform fieldset fieldset { border: none;  margin: 3px 0 0;	}
	form.signupform fieldset fieldset legend { padding: 0 0 0;  font-weight: normal; }
	form.signupform fieldset fieldset label { display: block;  width: auto; }
	form.signupform em { font-weight: bold;  font-style: normal;  color: #f00; }
	form.signupform label { width: 90px; /* Width of labels */ }
	form.signupform fieldset fieldset label { margin-left: 123px; /* Width plus 3 (html space) */ }
	form.signupform input { width:160px;}
	form.signupform textarea { width:160px; height:100px; margin-bottom:10px;}
	form.signupform input.button { border:1px solid #9ca991; background-color:#e2ead6; height:30px; width:260px; background-repeat:no-repeat; background-position: 30px 50%; font-weight:bold; color:#336600; padding-top:1px; font-size:14px; display:block; margin-bottom:-10px; text-align:center; margin-left:0px;}


		form.signupform input.button:hover { background-color:#fbf5b0; border:1px solid #e7d77f;}

	    .footer {margin-top:40px;}
	    .bottom {background-image:url(http://media.sunlightprojects.org/readthebill/images/footer_bg.png); background-repeat:repeat-x; height:150px; margin-top:100px;}

/* Endorse carousel */
#endorse_carousel { margin:5px 0 70px 50px; height:201px; width:324px; background-image:url(http://media.sunlightprojects.org/readthebill/images/v2/carousel_bg.png); background-repeat:no-repeat;}

#endorse_logo { margin-left:35px; padding-top:62px;}	

#endorse_carousel_front { margin:0 0 50px 60px; height:201px; width:324px; background-image:url(http://media.sunlightprojects.org/readthebill/images/v2/carousel_bg.png); background-repeat:no-repeat;}

#endorse_nav {margin-left:18px; margin-top:1px; margin-right:5px;}

/*Top Nav */
#top_nav { margin:10px 0 10px 0; padding:0; }
#topnav ul { padding:0; margin:0;}
#topnav li { display:inline; padding:0; margin:0; list-style-type:none;}


#leftbox { margin-top:20px; padding-left:10px;}

#postit { margin:5px 0 0 30px;}

#buttonbox { margin-top:75px; text-align:right; width:120px; height:120px; float:right;}

.link_block { display:block; height:300px;  padding:0; margin:0;}
	#link_block_box {  height:300px; margin:0; padding:0; width:420px; float:left;}
	#link_block_box a:link { text-decoration:none; }
	#link_block_box a:visited { text-decoration:none; }
	#link_block_box a:hover { text-decoration:none; }
	#link_block_box a:active { text-decoration:none; }

.blue { background-color:#5875b6;}
#rushed { list-style-type:none; font-size:14px; margin:0; padding:0;}
#rushed li { margin-bottom:10px; border-bottom:1px solid #eeeeee; padding:0 0 10px 0;}

/* SF footer box */
		#sf_footer_box { padding:10px; margin-top:.5em; margin-bottom:.5em; float:left; width:910px; margin-left:10px; }
		#sf_footer_box ul { padding:0 0 1.25em 0; margin:0; }
		#sf_footer_box li { padding:0; margin:0;}

		#sf_footer_head { width:20%; float:left; }
		#sf_footer_address { margin:0; }

/* misc crap leftover */
#affiliation {margin-bottom:2em;}
#bubble { float:left; margin-bottom:10px; display:none;}

/* FLAT PAGE */

#endorsed li { margin-bottom:10px; font-size:90%; color:#4c4f54;}
.endorse_indiv { display:block; margin:0; padding:0; font-size:130%; color:#000000;}

.flatpages h3 { color:#817d7a; border-bottom:1px solid #b0b0b0;}
h3.headline { color:#817d7a; border-bottom:1px solid #b0b0b0;}

.flatpages h4 { font-size:110%;}

p.pages {font-size:200%; font-weight:bold; padding:0 0 20px 0; margin:0;}
.pages_small { font-size:14px; font-weight:normal;}

.casestudies h5 {background-image:url(http://media.sunlightprojects.org/readthebill/images/case_studies.png); height:33px; width:404px;}

