<ul id="topnav">
<li>
<a href="/"><span class="top_nav_item_1">&nbsp;</span></a>
</li>

<li>
	<a href="/about/"><span class="top_nav_item_2">&nbsp;</span></a>
</li>

<li>
	<a href="/endorsements/"><span class="top_nav_item_3">&nbsp;</span></a>
</li>

<li>
	<a href="/rushed/"><span class="top_nav_item_4">&nbsp;</span></a>
</li>

<li>
	<a href="/cases/"><span class="top_nav_item_5">&nbsp;</span></a>
</li>

<li>
	<a href="/press/"><span class="top_nav_item_6">&nbsp;</span></a>
</li>

<li>
	<a href="/contact/"><span class="top_nav_item_7">&nbsp;</span></a>

</li>

</ul>



<!--
<table class="navtable">
	<tr><td>
		<h3 class="nav_item"><a href="/about/">About the Project</a></h3>
		<span class="nav_subtext">Learn more about Read The Bill</span>
		</td>

		<td>
		<h3 class="nav_item"><a href="/endorsements/">Endorsements</a></h3>
		<span class="nav_subtext">See our growing list of support</span>
		</td>
		<td>
		<h3 class="nav_item"><a href="/rushed/">Rushed Bills</a></h3>
		<span class="nav_subtext">Bills that didn't get their 72 hours</span>
		</td>
		<td>
		<h3 class="nav_item"><a href="/cases/">Case Studies</a></h3>
		<span class="nav_subtext">See our case studies</span>
		</td>
		<td>
		<h3 class="nav_item"><a href="/press/">Press Center</a></h3>
		<span class="nav_subtext">What's news?</span>
		</td>
		</tr>
	</table>
-->


<!--
	<table class="navtable">
		<tr><td><div class="nav_about">&nbsp;</div> <h3 class="nav_item"><a href="/about/">About the Project</a></h3><span class="nav_subtext">Learn more about Read The Bill</span></td> <td> <div class="nav_cases">&nbsp;</div> <h3 class="nav_item"><a href="/cases/">Case Studies</a></h3><span class="nav_subtext">See case studies</span></td> </tr> 

		<tr> <td> <div class="nav_endorsements">&nbsp;</div> <h3 class="nav_item"><a href="/endorsements/">Endorsements</a></h3><span class="nav_subtext">See our growing list of support</span></td> <td> <div class="nav_rushed">&nbsp;</div> <h3 class="nav_item"><a href="/rushed/">Rushed Bills</a></h3><span class="nav_subtext">Bills that didn't get their 72 hours</span></td></tr>

			<tr> <td> <div class="nav_press">&nbsp;</div> <h3 class="nav_item"><a href="/press/">Press Center</a></h3><span class="nav_subtext">What are people saying about us?</span></td> <td> <div class="nav_contact">&nbsp;</div> <h3 class="nav_item"><a href="/contact/">Contact</a></h3><span class="nav_subtext">Let us know what you think</span></td></tr>
		</table>
	-->