<div class="module">
    <iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Freadthebill.org&amp;layout=button_count&amp;show_faces=false&amp;width=110&amp;action=like&amp;colorscheme=light&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:110px; height:21px;" allowTransparency="true"></iframe>
    <a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-url="http://readthebill.org" data-via="readthebill" data-related="sunfoundation">Tweet</a>
    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
</div>
<div class="module">
    <h3>Sign up to get updates on Read the Bill or other legislation like this!</h3>

</div>