<div id="share">
<h3 class="headline">Help us get the word out!</h3>
<ol>
<li><a href="http://bsd.sunlightfoundation.com/page/invite/readthebill">Share</a> with friends</li>	
<li>Follow us on <a href="http://twitter.com/readthebill">Twitter</a></li>
<li>Add to <a href="http://digg.com/submit?phase=2&amp;url=http%3A%2F%2Fwww.ReadTheBill.org&amp;title=Demand%20They%20Read%20The%20Bill!">Digg</a>, <a href="http://www.stumbleupon.com/submit?url=http%3A%2F%2Fwww.ReadTheBill.org&amp;title=Demand%20They%20Read%20The%20Bill!">StumbleUpon</a>, <a href="http://www.facebook.com/share.php?u=http%3A%2F%2FReadTheBill.org">Facebook</a>, <a href="http://del.icio.us/post?url=http://ReadTheBill.org&title=ReadTheBill.org">delicious</a></li>	
<li>Join the <a href="http://www.facebook.com/home.php#/pages/Washington-DC/Sunlight-Foundation/6921874941">Sunlight Foundation Facebook Group</a></li>
<li>Vote for us on <a href="http://projects.metafilter.com/1953/Read-The-Bill">Projects.Metafilter</a></li>
<li>Blog about <a href="http://readthebill.org">ReadTheBill.org</a></li>
<li><a href="http://media.sunlightprojects.org/readthebill/images/postit.png">Display</a> <a href="http://media.sunlightprojects.org/readthebill/images/v2/72_button.png">one</a> <a href="http://media.sunlightprojects.org/readthebill/images/v2/72_button_a.png">of</a> <a href="http://media.sunlightprojects.org/readthebill/images/v2/72_button_b.png">our</a> <a href="http://media.sunlightprojects.org/readthebill/images/sf_feature_postit.png">ReadTheBill</a> <a href="http://media.sunlightprojects.org/readthebill/images/v2/72_button_c.png">buttons</a></li>
</ol>
</div>