<div class="module">
    <div id="shareables"></div>
</div>
<div class="module" id="signupBox">
    <h3>Sign up to get updates on Read the Bill or other legislation like this!</h3>
    <form id="siteSearch" method="get" action=".">
        <ul>
            <li>
                <label>Email</label>
                <input type="search" name="email" />
            </li>
            <li>
                <label>Zip Code</label>
                <input type="search" name="zip" />
            </li>
            <li>
                <button class="signupBtn" type="submit" value="Submit">
                    <span>Sign Up</span>
                </button>
            </li>
        </ul>
    </form>
    <div class="clear"></div>
</div>