{% load failtags %}
<style>
#summize ul { margin:0; padding:0;}
#summize li { margin:5px 0 5px 5px; padding:5px 0 5px 0; border-bottom:1px solid #f4f4f4;}

#twit_item { margin:0 0 10px 0; clear:both;}
#twit_icon { float:left;}
#twit_message { margin:0 0 0 55px; padding:0 0 0 0; }

</style>
<div id="summize" style="margin:0 20px 0 50px;">
<h3 class="headline">#ReadTheBill on Twitter</h3>
<ul id="summize">
    {% for result in results %}
        <li>
	<div id="twit_item">
	
	<div id="twit_icon">
		<a href="http://www.twitter.com/{{ result.sender.username }}"><img src="{{ result.sender.avatar_url }}"></a>
	</div>
	
	<div id="twit_message">{{ result.message|tweetile|safe }}</div>
	
	</div>
	</li>
    {% endfor %}
</ul>
</div>