{% extends "base.html" %}

{% block content %}

<div class="span-24">
	<div id="top_nav">
		<div id="navbox">{% include "includes/nav.html" %}</div>
	</div>

<div class="span-13">
	<div id="buttonbox">
		<a href="/"><img src="http://media.sunlightprojects.org/readthebill/images/v2/72_button.png"></a>
	</div>
	
	<div id="postit">
		<a href="/"><img src="http://media.sunlightprojects.org/readthebill/images/postit.png"></a>
	</div>
	
</div>
	
		<div class="span-11 last">
		{% include "includes/endorse_carousel.html" %}
		</div>

</div>		
		
		<div class="span-2">
		&nbsp; 
		</div>
		
		
		<div class="span-14">
		<h1>Whoops!  You seem to have stumbled upon a page with no content.</h1>
		</div>
		
		<div class="span-8 last">
			&nbsp;
		</div>



</div>
{% endblock %}