<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd">

{% load morsel_tags %}
{% load rtb %}

<html lang="en">
<head>

	{% block meta %}{% endblock %}

	<link rel="stylesheet" href="http://media.sunlightprojects.org/readthebill/css/screen.css" type="text/css" media="screen, projection" />
   	<link rel="stylesheet" href="http://media.sunlightprojects.org/readthebill/css/print.css" type="text/css" media="print" />
	<!--[if IE]><link rel="stylesheet" href="http://media.sunlightprojects.org/readthebill/css/ie.css" type="text/css" media="screen, projection" /><![endif]-->
	<link rel="stylesheet" href="http://media.sunlightprojects.org/readthebill/css/rtbcall.css" type="text/css" media="screen, projection">
	

	
	<script src="http://media.sunlightprojects.org/readthebill/js/jquery-1.2.6.min.js" type="text/javascript"></script>
	<script type="text/javascript" src="http://assets.sunlightlabs.com/scripts/jquery-plugins/jquery.tablesorter.js"></script>	
</head>
<title>Read The Bill: {% block title %}{% endblock %}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<body id="{% block body %}readthebill{% endblock %}">
    <div class="container noicon">
		<div class="span-24">
			<div id="top_nav">
				{% include "includes/nav.html" %}
			</div>
			
			
				{% block content %}
				{% endblock %}
			</div>
		</div>	

	    <div class="container noicon">
		<div class="span-24">
			<div id="call_footer">&nbsp;</div>
		</div>
		</div>
</body>
</html>
