<!DOCTYPE html>
{% load morsel_tags %}
{% load rtb %}
{% load media %}
<html version="HTML+RDFa 1.1" lang="en">
<head>

    <meta charset="utf-8"> 
    <meta name="description" content="Improve the legislative process by posting bills online for 72 hours before debate!">
    <meta property="og:site_name" content="ReadTheBill.org">
	{% block opengraph %}
	    <meta property="og:title" content="Read The Bill">
	    <meta property="og:description" content="Improve the legislative process by posting bills online for 72 hours before debate!">
	    <meta property="og:type" content="cause">
	    <meta property="og:url" content="http://readthebill.org/">
		<meta property="og:image" content="http://ia.media-imdb.com/images/rock.jpg" />
	{% endblock %}
    <meta property="fb:admins" content="7812952">
    {% block meta %}{% endblock %}
    
    <title>{% block title %}Read The Bill{% endblock %}</title>

    {% css "css/readthebill.css" %}
    <!--[if IE]><link rel="stylesheet" href="http://media.sunlightprojects.org/readthebill/css/ie.css" type="text/css" media="screen, projection" /><![endif]-->
    <style type="text/css">
        #call_your_rep { height:30px; margin-right:20px; text-align:center; margin-bottom:5px; margin-top:20px;}
        #call_your_rep p {margin:0; padding:0; }
        #call_your_rep h2 { font-size:16px; }
        #call_your_rep img { }
    </style>
    {% block css %}{% endblock %}

</head>
<body id="{% block body %}readthebill{% endblock %}">
    <div id="containerWrapper">
        <div class="container">
            <div id="header">
                <h1><a href="/">Read the Bill</a></h1>
                <img id="button" alt="72 hours button" src= "{% media_url "/images/v2/72_button_c.png" %}" />
                <ul id="topnav">
                    <li id="about"><a href="/about/">About</a></li>
                    <li id="endorsements"><a href="/endorsements/">Endorsements</a></li>
                    <li id="rushed"><a href="/rushed/">Rushed Bills</a></li>
                    <li id="studies"><a href="/cases/">Case Studies</a></li>
                    <li id="press"><a href="/press/">Press</a></li>
                    <li id="contact"><a href="/contact/">Contact</a></li>
                </ul>
            </div>
            <div id="featureArea">
                <div id="featureLeft">
                    <h2><big>Victory</big> <small>mostly...</small></h2>
                    <p></p>
                </div>    
                <div id="featureRight">
                    <h3>Next Steps</h3>
                    <h4>Sign up get updates on Read the Bill or other legislation like this</h4>
                    <form id="siteSearch" method="get" action=".">
                        <ul>
                            <li>
                                <label>Email</label>
                                <input type="search" name="email" />
                            </li>
                            <li>
                                <label>Zip Code</label>
                                <input type="search" name="zip" />
                            </li>
                            <li>
                                <button class="signupBtn" type="submit" value="Submit">
                                    <span>Sign Up</span>
                                </button>
                            </li>
                        </ul>
                    </form>
                </div>
            </div>
            <div class="clear"></div>
            <div id="ltColumn">
                {% block content %}
                {% endblock %}
            </div>  
            <div id="rtColumn">
            
                {% include "includes/share.html" %}

                {% block indiv %}
                {% endblock %}

                {% block blogs %}
                {% endblock %}
    
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="bottom">
        <div class="container noicon">
            <div class="column span-24" id="sf_footer">
               <div id="sf_footer_box">
                   <div id="sf_footer_head">
                       <h6>Contact</h6>
                       <div id="sf_footer_address">
                           <div class="vcard">
                               <div class="fn org">Sunlight Foundation</div>
                               <div class="adr">
                                   <div class="street-address">1818 N Street NW, Suite 300</div>
                                   <span class="locality">Washington</span>, <span class="region">DC</span>, <span class="postal-code">20036</span>
                               </div>
                               <div class="tel">202-742-1520</div>
                           </div>
                           <ul><li><a href="http://www.sunlightfoundation.com/contact/">Send Us an Email</a></li></ul>
                       </div>
                   </div>
                   <div id="sf_footer_head">
                       <h6>About Sunlight</h6>
                       <ul>
                           <li><a href="http://www.sunlightfoundation.com/mission/">Mission Statement</a></li>
                           <li><a href="http://www.sunlightfoundation.com/board_of_directors/">Board</a></li>
                           <li><a href="http://www.sunlightfoundation.com/people/">Staff Bios</a></li>
                           <li><a href="http://www.sunlightfoundation.com/funding/">Our Funding</a></li>
                           <li><a href="http://www.sunlightfoundation.com/privacy/">Privacy Policy</a></li>
                       </ul>
                   </div>
                   <div id="sf_footer_head">
                       <h6>Communications</h6>
                       <ul>
                           <li><a href="http://blog.sunlightfoundation.com">Our Blog</a></li>
                           <li><a href="http://www.sunlightfoundation.com/presscenter/releases/">Press Releases</a></li>
                           <li><a href="http://www.sunlightfoundation.com/presscenter/articles/">Press Articles</a></li>
                           <li><a href="http://del.icio.us/Sunlight_Foundation">Web Mentions</a></li>
                           <li><a href="http://www.sunlightfoundation.com/logos/">Logos for Print/Web</a></li>
                       </ul>
                   </div>
                   <div id="sf_footer_head">
                       <h6>Useful Sites</h6>
                       <ul>
                           <li><a href="http://opencongress.org/">OpenCongress.org</a></li>
                            <li><a href="http://www.transparencycorps.org">Transparency Corps</a></li>
                           <li><a href="http://reporting.sunlightfoundation.com/">Reporting Group</a></li>
                           <li><a href="http://sunlightlabs.com">Sunlight Labs</a></li>
                       </ul>
                   </div>
                   <div id="sf_footer_head">
                       <h6>We're Social</h6>
                       <ul>
                           <li><a href="http://twitter.com/sunlightnetwork">Twitter</a></li>
                           <li><a href="http://www.facebook.com/inbox/?ref=mb#/pages/Washington-DC/Sunlight-Foundation/6921874941">Facebook</a></li>
                           <li><a href="http://www.flickr.com/sunlightfoundation">Flickr</a></li>
                           <li><a href="http://www.youtube.com/sunlightfoundation">YouTube</a></li>
                       </ul>
                   </div>
               </div>
           </div>       
        </div>
    </div>
    
    {% js "js/readthebill.js" %}
	<!--[if lt IE 7]><script defer type="text/javascript" src="{% media_url "js/pngfix.js" %}"></script><![endif]-->
    
    {% block js %}{% endblock %}
    
    <script src="http://services.sunlightlabs.com/brandingbar/hat_js/rtb/" type="text/javascript"></script>
    <script> 
        var _gaq = [['_setAccount', 'UA-1265484-32'], ['_trackPageview']];
        (function(d, t) {
            var g = d.createElement(t),
                s = d.getElementsByTagName(t)[0];
            g.async = true;
            g.src = ('https:' == location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g, s);
        })(document, 'script');
    </script>
    
</body>
</html>
