{% extends "base.html" %}
{% load morsel_tags %}
{% block title %}Endorsements{% endblock %}

{% block content %}
	<h2 class="headline">Groups Endorsing Read The Bill</h2>

    <p>{% morsel endorsements %}</p>

    <ul id="endorsed" >
    {% morsel logos %}
    </ul>
{% endblock %}



{% block indiv %}
    <div class="module">
        <h3 class="headline">Individual Endorsements</h3>
        <ul id="endorsed">
        {% morsel individs %}
        </ul>
    </div>
{% endblock indiv %}

{% block blogs %}
    <div class="module">
        <h3 class="headline">Blog Endorsements</h3>
        <ul id="endorsed">
        {% morsel blogs %}
        </ul>
    </div>
{% endblock blogs %}