{% extends "base.html" %}


{% block content %}


<div class="span-24 header_bg">
	<div id="top_nav">
		<div id="navbox">{% include "includes/nav.html" %}</div>
	</div>
<div class="span-13">
	<div id="buttonbox">
		<a href="/"><img src="http://media.sunlightprojects.org/readthebill/images/v2/72_button.png"></a>
	</div>
	
	<div id="postit">
		<a href="/"><img src="http://media.sunlightprojects.org/readthebill/images/postit.png"></a>
	</div>
	
</div>
	
		<div class="span-11 last">
		{% include "includes/endorse_carousel.html" %}
		</div>

</div>
<div class="span-2">&nbsp; </div>


<div class="span-11">
	<h3>Groups Endorsing Read The Bill</h3>

	<p>"We support the 72 hours online rule to require generally that legislation and conference reports be posted on the Internet for 72 hours before floor consideration in Congress."</p>

	<ul id="endorsed">
	<li><a href="http://www.youstreet.org">Americans for Campaign Reform</a></li>
	<li><a href="http://www.americaspeaks.org">America Speaks</a></li>
	<li><a href="http://www.campaignlegalcenter.org">Campaign Legal Center</a></li>
	<li><a href="http://www.cdt.org">Center for Democracy and Technology</a></li>
	<li><a href="http://www.cpi.org">Center for Lobbying in the Public Interest</a></li>
	<li><a href="http://www.changecongress.org">Change Congress</a></li>
	<li><a href="http://www.citizensforethics.org">CREW</a></li>
	<li><a href="http://www.opensecrets.org">CRP</a></li>
	<li><a href="http://www.democracy21.org">Democracy 21</a></li>
	<li><a href="http://www.eff.org">Electronic Frontier Foundation</a></li>
	<li><a href="http://www.fas.org">Federation of American Scientists</a></li>
	<li><a href="http://www.mediaaccess.org">Media Access Project</a></li>
	<li><a href="http://www.ombwatch.org">OMB Watch</a></li>
	<li><a href="http://www.OpentheGovernment.org">OpentheGovernment</a></li>
	<li><a href="http://www.pdf.com">Personal Democracy Forum</a></li>
	<li><a href="http://www.demos.org">Demos</a></li>
	<li><a href="http://www.freepress.net">Free Press</a></li>
	</ul>

	

</div>
	
	<div class="span-11 last">
		<h3>Individual Endorsements</h3>
		<ul id="endorsed">
		<li>Norman Ornstein, Resident Scholar, American Enterprise Institute</li>
		<li>Deanna Gelack, Past President, American League of Lobbyists, Author, Lobbying and Advocacy</li>
		<li>Joe Trippi, Campaign Manager, Dean for President</li>
		<li>Larry Lessig, Professor, Stanford Law School</li>
		<li>Craig Newmark, Founder, Craigslist</li>
		<li>Carl Malamud, President and CEO, Public.Resource.org</li>
		<li>Mitch Kapor, Founder, Lotus Development Corp.</li>
		<li>Former Speaker of the House, Newt Gingrich</li>
		</ul>

	
	</div>


{% endblock %}
	
