{% extends "base.html" %}

{% block title %}Endorsements{% endblock %}

{% block content %}

	<a name="endorsers"></a>
	<h3>Groups Endorsing Read The Bill</h3>

	<p>"We support the 72 hours online rule to require generally that legislation and conference reports be posted on the Internet for 72 hours before floor consideration in Congress."</p>

	<ul id="endorsed">

<li><a href="http://www.americaspeaks.org"><img src="http://media.sunlightprojects.org/readthebill/images/logos/rtb_logo_america_speaks.jpg"></a></li>
<li><a href="http://www.campaignlegalcenter.org"><img src="http://media.sunlightprojects.org/readthebill/images/logos/rtb_logo_campaign_legal_center.jpg"></a></li>
<li><a href="http://www.cdt.org"><img src="http://media.sunlightprojects.org/readthebill/images/logos/rtb_logo_cdt.jpg"></a></li>
<li><a href="http://www.clpi.org"><img src="http://media.sunlightprojects.org/readthebill/images/logos/rtb_logo_clpi.jpg"></a></li>
<li><a href="http://change-congress.org/"><img src="http://media.sunlightprojects.org/readthebill/images/logos/rtb_logo_change_congress.jpg"></a></li>
<li><a href="http://www.citizensforethics.org"><img src="http://media.sunlightprojects.org/readthebill/images/logos/rtb_logo_crew.jpg"></a></li>
<li><a href="http://www.opensecrets.org"><img src="http://media.sunlightprojects.org/readthebill/images/logos/rtb_logo_crp.jpg"></a></li>
<li><a href="http://www.democracy21.org"><img src="http://media.sunlightprojects.org/readthebill/images/logos/rtb_logo_democracy_21.jpg"></a></li>
<li><a href="http://www.demos.org"><img src="http://media.sunlightprojects.org/readthebill/images/logos/rtb_logo_demos.jpg"></a></li>
<li><a href="http://www.eff.org"><img src="http://media.sunlightprojects.org/readthebill/images/logos/rtb_logo_eff.jpg"></a></li>
<li><a href="http://www.fas.org"><img src="http://media.sunlightprojects.org/readthebill/images/logos/rtb_logo_federation_of_american_scientists.jpg"></a></li>
<li><a href="http://www.freepress.net"><img src="http://media.sunlightprojects.org/readthebill/images/logos/rtb_logo_free_press.jpg"></a></li>
<li><a href="http://www.mediaaccess.org"><img src="http://media.sunlightprojects.org/readthebill/images/logos/rtb_logo_media_access_project.jpg"></a></li>
<li><a href="http://www.ombwatch.org"><img src="http://media.sunlightprojects.org/readthebill/images/logos/rtb_logo_omb_watch.jpg"></a></li>
<li><a href="http://www.OpentheGovernment.org"><img src="http://media.sunlightprojects.org/readthebill/images/logos/rtb_logo_open_the_government.jpg"></a></li>
<li><a href="http://personaldemocracy.com/"><img src="http://media.sunlightprojects.org/readthebill/images/logos/rtb_logo_pdf.jpg"></a></li>

<li><a href="http://www.pogo.org"><img src="http://media.sunlightprojects.org/readthebill/images/logos/rtb_logo_pogo.jpg"></a></li>

<li><a href="http://www.citizen.org"><img src="http://media.sunlightprojects.org/readthebill/images/logos/rtb_logo_public_citizen.jpg"></a></li>

<li><a href="http://www.taxpayer.net"><img src="http://media.sunlightprojects.org/readthebill/images/logos/rtb_logo_tcs.jpg"></a></li>

<li><a href="http://www.youstreet.org"><img src="http://media.sunlightprojects.org/readthebill/images/logos/rtb_logo_youstreet.jpg"></a></li>
</ul>

<h3>Individual Endorsements</h3>
<ul id="endorsed">
<li><span class="endorse_indiv">Norman Ornstein</span> Resident Scholar, American Enterprise Institute</li>
<li><span class="endorse_indiv">Deanna Gelack</span> Past President, American League of Lobbyists, Author, Lobbying and Advocacy</li>
<li><span class="endorse_indiv">Joe Trippi</span> Campaign Manager, Dean for President</li>
<li><span class="endorse_indiv">Larry Lessig</span> Professor, Stanford Law School</li>
<li><span class="endorse_indiv">Craig Newmark</span> Founder, Craigslist</li>
<li><span class="endorse_indiv">Carl Malamud</span> President and CEO, Public.Resource.org</li>
<li><span class="endorse_indiv">Mitch Kapor</span> Founder, Lotus Development Corp.</li>
<li><span class="endorse_indiv">Newt Gingrich</span>Former Speaker of the House</li>
</ul>
	
	<!-- hiding this outdated
	<ul id="endorsed">
	<li><a href="http://www.youstreet.org">Americans for Campaign Reform</a></li>
	<li><a href="http://www.americaspeaks.org">America Speaks</a></li>
	<li><a href="http://www.campaignlegalcenter.org">Campaign Legal Center</a></li>
	<li><a href="http://www.cdt.org">Center for Democracy and Technology</a></li>
	<li><a href="http://www.clpi.org">Center for Lobbying in the Public Interest</a></li>
	<li><a href="http://change-congress.org/">Change Congress</a></li>
	<li><a href="http://www.citizensforethics.org">CREW</a></li>
	<li><a href="http://www.opensecrets.org">CRP</a></li>
	<li><a href="http://www.democracy21.org">Democracy 21</a></li>
	<li><a href="http://www.eff.org">Electronic Frontier Foundation</a></li>
	<li><a href="http://www.fas.org">Federation of American Scientists</a></li>
	<li><a href="http://www.freepress.net">Free Press</a></li>
	<li><a href="http://www.mediaaccess.org">Media Access Project</a></li>
	<li><a href="http://www.ombwatch.org">OMB Watch</a></li>
	<li><a href="http://www.OpentheGovernment.org">OpentheGovernment</a></li>
MISSING LOGO	<li><a href="http://personaldemocracy.com/">Personal Democracy Forum</a></li>
MISSING LOGO	<li><a href="http://www.demos.org">Demos</a></li>

	</ul>
-->

{% endblock %}
