<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Read The Bill</title>

<style>
body {background-image:url(http://media.sunlightprojects.org/readthebill/images/v2/v2_cork_bg.jpg); margin:0; padding:0;}
</style>
<script src="http://media.sunlightprojects.org/js/jquery-1.2.6.min.js" type="text/javascript"></script>
<script type="text/javascript" charset="utf-8" src="http://media.sunlightprojects.org/js/jquery.pngFix.pack.js"></script>
</head>
<body>
    <a href="/" target="_top"><img src="http://media.sunlightprojects.org/readthebill/images/partner_frame_return.png" border="0" alt="back to ReadTheBill.org"></a>
</body>
</html>