{% extends "minimal.html" %}
{% load rtb %}

{% block content %}
  <div class="head invite">
    <p>"Congress should change its rules to require that non-emergency legislation and conference reports be posted on the Internet for 72 hours before debate begins."</p>
    
    <form action="{% url index %}" method="post" id="signupform" class="signupform">
      <fieldset>
      
        {% signup_form %}
        <br />
          <ul>
          <li><input type="submit" value="Sign the Petition" class="button"></li>
        </ul>
      </fieldset>
    </form>
  </div>
{% endblock %}