{% extends "base.html" %}


{% block content %}


<div class="span-24 header_bg">
	<div id="top_nav">
		<div id="navbox">{% include "includes/nav.html" %}</div>
	</div>
<div class="span-13">
	<div id="buttonbox">
		<a href="/"><img src="http://media.sunlightprojects.org/readthebill/images/v2/72_button.png"></a>
	</div>
	
	<div id="postit">
		<a href="/"><img src="http://media.sunlightprojects.org/readthebill/images/postit.png"></a>
	</div>
	
</div>
	
		<div class="span-11 last">
		{% include "includes/endorse_carousel.html" %}
		</div>

	</div>

	<div class="span-2">&nbsp;</div>

<div class="span-14">
<h3>Press Center</h3>
<p>People are talking about the Read The Bill campaign</p>
    <ol>
        {% for entry in feed.entries.all %}
            <li><a href="{{ entry.link }}">{{ entry.title }}</a></li>
        {% endfor %}
    </ol>
</div>
	
	<div class="span-8 last">
	
	&nbsp;
	
	</div>
{% endblock %}