{% extends "base.html" %}
{% block title %}
Rushed Bills
{% endblock %}

{% load morsel_tags %}
{% load rtb %}

{% block content %}


	
		<h3>Rushed Bills</h3>
		<p>Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus.</p>
	    <ul id="rushed">
	        {% for entry in feed.entries.all %}
	            <li><a href="{{ entry.link }}">{{ entry.title }}</a></li>
	        {% endfor %}
	    </ul>
	




{% endblock %}
	
