{% extends "base.html" %}
{% block title %}
Rushed Bills
{% endblock %}

{% block content %}


{% include "includes/corked.html" %}
	

<div class="span-2">&nbsp;</div>

<div class="span-14">
	<h3>Rushed Bills</h3>
    <ul id="rushed">
        {% for entry in feed.entries.all %}
            <li><a href="{{ entry.link }}">{{ entry.title }}</a></li>
        {% endfor %}
    </ul>
</div>
	
	<div class="span-8 last">
	
	Right side. Something here?  Perhaps an explanation of what the heck this is.  Or Case Study links?
	
	</div>


{% endblock %}
	
