{% extends "base.html" %}

{% block content %}
	<article class="hentry">
		<header>
		    <time class="published" datetime="{{ post.date_published.date.isoformat }}" pubdate>
				<span class="month">{{ post.date_published|date:"F" }}</span>
				<span class="day">{{ post.date_published|date:"j" }}</span>
			</time>
			<h1 class="entry-title">
				<a href="{{ post.get_absolute_url }}" class="bookmark">{{ post.title }}</a>
			</h1>
			<div class="clear"></div>
		</header>
		<aside>
			<a href="http://twitter.com/share" class="twitter-share-button" data-count="vertical" data-text="{{ post.title }}" data-via="readthebill" data-related="sunfoundation" data-url="http://readthebill.org{{ post.get_absolute_url }}">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
		</aside>
		<div class="entry-content">
			{{ post.content }}
		</div>
	</article>
{% endblock %}